@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-white: hsl(0, 0%, 100%);
    --bg-lgray: hsl(212, 45%, 89%);
    --bg-gblue: hsl(220, 15%, 55%);
    --bg-dblue: hsl(218, 44%, 22%);
}

body {
    background-color: var(--bg-lgray);
    font-family: 'Outfit', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.card {
    width: 80vw;
    padding: 1rem;
    border-radius: 20px;
    background-color: var(--bg-white);
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 5px 5px 21px 5px rgba(0,0,0,0.31); 
    box-shadow: 5px 5px 21px 5px rgba(0,0,0,0.31);
}

.card__image {
    width: 100%;
    height: 50%;
    border-radius: 1rem;
}

.card__image img {
    object-fit: fill;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}

.card__title {
    margin: 14px 0;
    color: var(--bg-dblue);
    text-align: center;
    font-size: 700;
}

.card__description {
    color: var(--bg-gblue);
    margin-bottom: 10px;
    text-align: center;
    font-size: 400;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 0 0 20px 0;
}

@media only screen and (min-width: 375px) {
    .card {
        width: 350px;
        padding: 1rem;
    }
}
